.important{
  font-style: italic;
  color: green;
  border: solid black;
  background-color: beige;
  text-align: center;

}

.about {
  font-style: bold;
  color:teal;
}

.post {
  margin-top: 6px;
  margin-bottom: 6px;
}

h3 {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}